{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "react/prop-types": "warn",
    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-props-no-spreading": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": 0,
    "jsx-a11y/alt-text": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0
  },
  "ignorePatterns": "/dist"
}
